.metadata/
project_client/temp/
project_client/debug.log
project_server/temp/
project_server/debug.log

# ForgeGradle / Gradle 1.7.10 workspace
/.gradle/
/build/
/run/
/eclipse/
/out/

# IDE
.idea/
*.iml
.settings/
bin/
